
.todo-list-item {
  display: flex;
  justify-content: space-between;
    color:#000;
}


.items-list-items {
  flex-grow: 1;
  font-size: 1.1rem;

  
}
.btn {
  margin-left: .25rem;
  margin-right: .25rem;
  min-width:2.00rem;
}

.done {
      text-decoration-line: line-through;
      text-decoration-color: black;
}

.important {
font-weight:700;
color: tomato;
}
